{% extends 'base_backoffice.html.twig' %}

{% block title %}New Movie{% endblock %}

{% block body %}
    <h1>Create new Movie</h1>

    {{ include('backoffice/movie/_form.html.twig') }}

    {{ include ('backoffice/links/back_to_list.html.twig', { 'custom_path' : path('app_backoffice_movie_index')})}}
{% endblock %}
