{% extends 'base_backoffice.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>

    {{ include('backoffice/genre/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include ('backoffice/links/back_to_list.html.twig', { 'custom_path' : path('app_backoffice_genre_index')})}}

    {{ include('backoffice/genre/_delete_form.html.twig') }}
{% endblock %}
