{% extends 'base_backoffice.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>Create new Genre</h1>

    {{ include('backoffice/genre/_form.html.twig', {'button_label': 'Save'}) }}

    {{ include ('backoffice/links/back_to_list.html.twig', { 'custom_path' : path('app_backoffice_genre_index')})}}
{% endblock %}
