{% extends 'base_backoffice.html.twig' %}

{% block title %}Edit Casting{% endblock %}

{% block body %}
    <h1>Edit Casting</h1>

    {{ include('backoffice/casting/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include ('backoffice/links/back_to_list.html.twig', { 'custom_path' : path('app_backoffice_casting_index')})}}

    {{ include('backoffice/casting/_delete_form.html.twig') }}
{% endblock %}
