{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
    <h1>Edit Season</h1>

    {{ include('backoffice/season/_form.html.twig', {'button_label': 'Update'}) }}

{{ include ('backoffice/links/back_to_list.html.twig', { 'custom_path' : path('app_backoffice_season_index')})}}

    {{ include('backoffice/season/_delete_form.html.twig') }}
{% endblock %}
